extends ../layouts/default

block intro
	section.container
		section.columns.is-mobile
			section.column.is-half.is-offset-quarter
				h1.title.is-5 Contact Us
		
block content
	section.container.section
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			section.container
				section.columns.is-mobile
					section.column.is-half.is-offset-quarter
						form(method='post')
							input(type='hidden', name='action', value='contact')
							.form-group.control(class=validationErrors.name ? 'has-error' : null)
								label.label Name
								input.input(type='text', name='name.full', value=formData['name.full']).form-control
							.form-group.control(class=validationErrors.email ? 'has-error' : null)
								label.label Email
								input.input(type='email', name='email', value=formData.email).form-control
							.form-group.control
								label.label Phone
								input.input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
							.form-group.control(class=validationErrors.enquiryType ? 'has-error' : null)
								label.label What are you contacting us about?
								span.select
									select(name='enquiryType').form-control
										option(value='') (select one)
										each type in enquiryTypes
											option(value=type.value, selected=formData.enquiryType == type.value)= type.label
							.form-group.control(class=validationErrors.message ? 'has-error' : null)
								label.label Message
								textarea.textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
							.form-actions.control
								button.button.is-info(type='submit').btn.btn-primary Send
